@font-face {
    font-family: 'orbitron';
    src: url('../fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_mono';
    src: url('../fonts/spacemono-bold-webfont.woff2') format('woff2'),
        url('../fonts/spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    position: relative;
    top: 0vh;
    left: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11vh;
    overflow-x: hidden;
}

header>.arrow {
    border: solid #33323D;
    border-width: 0 1vw 1vw 0;
    display: none;
    padding: 2.5vw;
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    right: 90vw;
}

header>.heading {
    color: white;
    font-family: 'space_mono';
    font-size: 3.5em;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

header>.heading>span {
    background-image: -webkit-linear-gradient(203deg, #faef17 14%, #0dbb5f 100%);
    background-image: -o-linear-gradient(203deg, #faef17 14%, #0dbb5f 100%);
    background-image: -moz-linear-gradient(203deg, #faef17 14%, #0dbb5f 100%);
    background-image: linear-gradient(270deg, #faef17 14%, #0dbb5f 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

header>.heading>.num{
    font-size: 1em;
}