

.homepage>.bar_content {
    display: flex;
    flex-direction: column;
    height: 101vh;
    width: 99%;
    position: absolute;
    top: 23.2vh;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: scroll;
}

.homepage>.image_box {
    position: absolute;
    display: flex;
    height: 6vh;
    width: 34vw;
    background-color: #04D368;
    top: 133vh;
    left: 30vw;
    z-index: 1;
    font-family: 'space_mono', sans-serif;
    font-size: 5.8vw;
    color: black;
    justify-content: center;
    align-items: center;
    border: 0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(-35% 0%, 20% 100%, 100% 100%, 100% 47%, 78% 0%);
}

.homepage>.image_box>.box_content{
    font-family: 'orbitron', sans-serif;
    font-size: 5.8vw;
    color: black;
}

.homepage>.bar_content>.dates_item_content {
    display: none;
    flex-direction: column;
    height: 96%;
    width: 99%;
    align-items: center;
    overflow: hidden;
}

.homepage>.bar_content>.dates_item_content>.display_content {
    display: flex;
    flex-direction: column;
    height: 33.33%;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content_box {
    position: relative;
    display: flex;
    height: 8vw;
    width: 21vw;
    background-color: white;
    top: 4vh;
    right: 33vw;
    z-index: 2;
    font-family: 'space_mono';
    font-size: 4.8vw;
    color: black;
    justify-content: center;
    align-items: center;
    border: 0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(-35% 0%, 20% 100%, 100% 100%, 100% 47%, 78% 0%);
}

.homepage>.bar_content>.dates_item_content>.display_content>.content_box>.box-content {
    position: relative;
    z-index: 2;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content_bar {
    position: relative;
    height: 0.5vh;
    width: 85%;
    background-image: -webkit-linear-gradient(45deg, #212129 14%, #31303B 100%);
    background-image: -o-linear-gradient(45deg, #212129 14%, #31303B 100%);
    background-image: -moz-linear-gradient(45deg, #212129 14%, #31303B 100%);
    background-image: linear-gradient(45deg, #212129 14%, #31303B 100%);
    top: 1.9vh;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content {
    display: flex;
    color: white;
    height: 68%;
    width: 100%;
    position: relative;
    top: 5vh;
    left: 6vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content:after {
    content: '';
    position: absolute;
    left: 54vw;
    top: 0;
    width: 38%;
    height: 100%;
    background-image: -webkit-linear-gradient(305deg, transparent 4%, #212129 85%);
    background-image: -o-linear-gradient(305deg, transparent 4%, #212129 85%);
    background-image: -moz-linear-gradient(305deg, transparent 4%, #212129 85%);
    background-image: linear-gradient(305deg, transparent 4%, #212129 85%);
}

.homepage>.bar_content>.dates_item_content>.display_content>.content>.content_image {
    position: relative;
    left: 7vw;
    height: 16vh;
    width: 37vw;
    object-fit: contain;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content>h1 {
    font-family: 'space_mono';
    font-size: 8vw;
    width: 0vw;
    color: white;
    position: relative;
    top: 2vh;
    left: 7vw;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content>.h_bar {
    background-color: white;
    height: 0.3vh;
    width: 9%;
    position: relative;
    top: 13.4vh;
    right: 32vw;
}

.homepage>.bar_content>.dates_item_content>.display_content>.content>h2 {
    font-family: 'space_mono';
    font-size: 3.5vw;
    width: 37vw;
    color: white;
    position: relative;
    top: 13vh;
    left: 17vw;
    height: 1vh;
}

.homepage>.content_bar {
    position: absolute;
    height: 0.5vh;
    width: 85%;
    background-image: -webkit-linear-gradient(45deg, #212129 14%, #31303B 100%);
    background-image: -o-linear-gradient(45deg, #212129 14%, #31303B 100%);
    background-image: -moz-linear-gradient(45deg, #212129 14%, #31303B 100%);
    background-image: linear-gradient(45deg, #212129 14%, #31303B 100%);
    top: 127.9vh;
    left: 4.5vw;
}

.homepage>.content_box {
    position: absolute;
    display: flex;
    height: 8vw;
    width: 18vw;
    background-color: white;
    top: 126vh;
    right: 74vw;
    z-index: 2;
    font-family: 'space_mono';
    font-size: 4.8vw;
    color: black;
    justify-content: center;
    align-items: center;
    border: 0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(-35% 0%, 20% 100%, 100% 100%, 100% 47%, 78% 0%);
}

.homepage>.box-content {
    position: relative;
    z-index: 2;
}