@font-face {
    font-family: 'orbitron';
    src: url('../fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_mono';
    src: url('../fonts/spacemono-bold-webfont.woff2') format('woff2'),
        url('../fonts/spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: no-drag;
    border: 0;
}

body {
    background-color: #212129;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.homepage {
    display: none;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.event_page {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.homepage>.footer{
    background-color: #171717;
    position: absolute;
    top: 145vh;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    left: 0vw;
}

.homepage>.footer>#name{
    position: absolute;
    top: 5vh;
    left: 31vw;
    font-family: 'space_mono', sans-serif;
    font-size: 1.79em;
    color: white;
}

.homepage>.footer>.harjas{
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 2vh;
    left: 5vw;
    height: 22vw;
    overflow: hidden;
}

.homepage>.footer>.post{
    position: absolute;
    top: 9vh;
    left: 46vw;
    font-family: 'space_mono', sans-serif;
    font-size: 1.49em;
    color: #8c8c8f;
}

.homepage>.footer>a>.icon{
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 13vh;
    left: 77vw;
    height: 12vw;
}