@font-face {
    font-family: 'orbitron';
    src: url('../fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_mono';
    src: url('../fonts/spacemono-bold-webfont.woff2') format('woff2'),
        url('../fonts/spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.preloader {
    position: absolute;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

.loader {
    object-fit: contain;
}